<div class="card">
    <div class="card-body">
        <h1>about</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sapiente asperiores hic impedit, magni, quam pariatur blanditiis iusto neque praesentium et beatae veniam possimus suscipit odit porro vero voluptatum deserunt sunt ullam dolor aperiam voluptate. Ipsa facere nulla quasi doloremque.</p>
    </div>
</div>